body, canvas {
  background-color: rgb(255, 255, 255);
  font-family: Calibri, Helvetica, Arial;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#canvas-outfit {
  margin:25px;
  border-radius: 100px;
  border: 25px solid black;
}

.flex {
  display: flex;
}


.enLinea {
  flex-direction: row;
  flex-wrap:  wrap;
}

.vertical {
  flex-direction: column;
  align-items: center;
}


#Controls {
  left: 10px;
  position: fixed;
  z-index: 2;
}

ilabel {
  background-color: red;
  border: 1px solid orange;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: orange;
  display: inline-block;
  margin-top: 10px;
  padding: 1px 5px 2px 5px;
  text-align: right;
  width: 100px;
}

input {
  background-color: red;
  border: 1px solid orange;
  border-radius: 0 5px 5px 0;
  color: orange;
  margin-top: 10px;
  padding: 3px 2px;
  text-align: center;
}

#ColourBox {
  width: 96px;
}

#resetButton {
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 3px 4px;
}

#resetButton:hover {
  background-color: #060;
}