/*
////////////////////////////////////////////////
///////// VALORES GENERICOS DE DISEÑO  /////////
////////////////////////////////////////////////
*/

:root {

  --colorMain: rgba( 0, 0, 0, 0.3);
  --colorSecondary: #808080;

  --angryModule: 25px;
  --navHeight: calc( 3*var(--angryModule) );

  --canvasMargin: calc( 2*var(--angryModule) );
  --canvasOutfitBorder: var(--angryModule);
  --canvasOutfitRadius:calc( 3*var(--angryModule) );
  --canvasOutfitMargin: var(--angryModule);

  --marginMain: calc( 3*var(--angryModule) );
  --marginSecundary: var(--angryModule);

}


/*
////////////////////////////////////////////////
///////////////     CSS      ///////////////////
////////////////////////////////////////////////
*/
body {
  font-family: sans-serif, Calibri, Helvetica, Arial;
}

.noMarginNoPadding {
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: yellow;
}.orange {
  background-color: orange;
}.orangered {
  background-color: orangered;
}
.red {
  background-color: red;
}
.pink {
  background-color: pink;
}
.green {
  background: greenyellow;
}

#canvas-outfit {
  margin:var(--canvasOutfitMargin);
  border-radius: var(--canvasOutfitRadius);
  border: var(--canvasOutfitBorder) solid var(--colorMain);
  position: absolute;
}

canvas {
  margin: var(--canvasMargin);
  padding: 0;
}

.margin-Left{
  margin-left: var(--marginMain);
}

.margin-Right{
  margin-right: var(--marginMain);
}

.nav-bar {
  height: var(--navHeight);
  margin-top: var(--marginSecundary);
}


img {
  object-fit: contain;
  height: var(--navHeight);
}


.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-justify {
  justify-content: space-between;
}

.expandWidth{
  margin: 0 auto;
  width: 700px;
}


.button-black {
  background-color: black;
  font-family: Calibri;
  font-size: 2em;
  font-weight: bold;
  color: white;
  height: calc( 2*var(--angryModule) );
  border: none;
  border-radius: var(--angryModule) ;
  width: 200px
}

.button-black:hover{
  cursor: pointer;
}

h3 {
  color: var(--colorMain);
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  margin: 0 25px 0 0;
}


table {
  border-collapse: collapse;
  width: 60%;
  max-width: 800px;
}

th {
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
}
th, td {
  width: 150px; /*Aquí va el ancho de la Celda*/
  height: 10px; /*Aquí el Alto*/
}



span {
  color: rgb(184, 184, 184);
  font-size: 30px;
  font-family: Arial;
  font-weight: bold;
  margin-left: 25px;
}


.buttonSmall {
  background-color: var(--colorMain);
  font-family: Calibri;
  font-size: 20px;
  font-weight: bold;
  height: 40px;
  border-radius: 10px ;
  margin: 0 25px;
  padding: 5px;
  text-align: center;
  width: 150px;
}

.black {
  background-color: var(--colorMain);
  color: white;
  border: solid 1px white;
}

.white {
  background-color: white;
  color: var(--colorMain);
  border: solid 1px ;
}





/*
////////////////////////////////////////////////////
///////////     HAMBURGUER MENU      ///////////////
////////////////////////////////////////////////////
*/


.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ee2fff;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger{
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active{
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger:before{
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70px;
  height: 70px;
  border: 5px solid transparent;
  top: calc(50% - 35px);
  left: calc(50% - 35px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger.is-active:before{
  border: 5px solid #ecf0f1;
}

#hamburger.is-active .hamburgerLine{
  width: 35px;
}

#hamburger.is-active .hamburgerLine:nth-child(2){
  opacity: 0;
}

#hamburger.is-active .hamburgerLine:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger.is-active .hamburgerLine:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}





/*
////////////////////////////////////////////////////
///////////////     SLIDER BARS     ////////////////
////////////////////////////////////////////////////
*/
#slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100px; /* Full-width */
  height: 20px; /* Specified height */
  border-radius: 10px;   
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  border-radius: 50%;  
  background: black; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

