body, canvas {
  font-family: Calibri, Helvetica, Arial;
  margin: 0;
  padding: 0;
}

.yellow {
  background-color: yellow;
}.orange {
  background-color: orange;
}.orangered {
  background-color: orangered;
}
.red {
  background-color: red;
}
.pink {
  background-color: pink;
}

#canvas-outfit {
  margin:25px;
  border-radius: 100px;
  border: 25px solid black;
}

.margin-Left{
  margin-left: 125px;
}

.margin-Right{
  margin-right: 125px;
}

.nav-bar {
  height: 100px;
  margin-top: 25px;
  margin-bottom: 25px;
}


img {
  object-fit: contain;
  height:50px;
}


.flexbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-left {
  justify-content: flex-start;
}

.justify-justify {
  justify-content: space-between;
}



.button-black {
  background-color: black;
  font-family: Calibri;
  font-size: 1em;
  font-weight: bold;
  color: white;
  height: 50px;
  border: none;
  border-radius: 25px;
}


 /* 
 //
 //
 NAVIGATION BAR
 //
 //
 */ 

#Controls {
  left: 10px;
  position: fixed;
  z-index: 2;
}

ilabel {
  background-color: red;
  border: 1px solid orange;
  border-right: none;
  border-radius: 5px 0 0 5px;
  color: orange;
  display: inline-block;
  margin-top: 10px;
  padding: 1px 5px 2px 5px;
  text-align: right;
  width: 100px;
}

input {
  background-color: red;
  border: 1px solid orange;
  border-radius: 0 5px 5px 0;
  color: orange;
  margin-top: 10px;
  padding: 3px 2px;
  text-align: center;
}

#ColourBox {
  width: 96px;
}

#resetButton {
  border: 1px solid orange;
  border-radius: 5px;
  color: orange;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 3px 4px;
}

#resetButton:hover {
  background-color: #060;
}